.bg-success {
    background-color: #243119!important;
    color:white;
}
nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    background-color: #243119 !important;
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #C9F2C7;
}
.navbar-light .navbar-brand {
    color: #C9F2C7;
}

