@font-face {
    font-family: Font1;
    src: url(sansation_light.woff);
  }
body {
    font-family: Font1;
}
/*custom class I put fonts with */
.font2 {
    font-family: 'Permanent Marker', cursive;
}
.font3 {
    font-family: 'Pacifico', cursive;
}
.font4 {
    font-family: 'Kalam', cursive;
}
.bg-success {
    background-color: #243119!important;
    color:white;
}
nav.navbar.navbar-expand-sm.navbar-light.bg-light {
    background-color: #243119 !important;
    color:white;
}
.navbar-light .navbar-nav .nav-link {
    color: white;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: #C9F2C7;
}
.navbar-light .navbar-brand {
    color: #C9F2C7;
    
}
/* affects the spacing of the nav bar items from each other*/
.nav-link {
    margin-right: 5px;
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    color: #caecba;
}
/* Affects the color of the nav bar items*/
.navbar-light .navbar-nav .nav-link {
    font-family: 'Permanent Marker', cursive;
    font-size: 22px;
    color: #caecba;
}

/* This is the styling that affects that navbar items to be spaced out from the wander beyond text*/
.navbar-expand-sm .navbar-collapse { 
    display: flex!important;
    flex-basis: auto;
    justify-content: space-evenly;
}

/* This gradient affects the wander beyond text on navbar*/

.navbar-brand {
    font-family: 'Permanent Marker', cursive;
    font-size: 50px;
    background: url("./img/tree13.jpg");
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*custom gradient I made for footer background */
.gradient {
    background: linear-gradient(#000000 , #09243b
    );

}
/* Wander Beyond text on footer */
.custom-green {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(25, 53, 33), rgb(44, 136, 25));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
/*gradient I add to text for blue text */
.custom-blue {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(122, 162, 196), #7689f8);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-gray {
    font-family: 'Kalam', cursive;
    font-size: 30px;
    background: -webkit-linear-gradient(rgb(117, 118, 119), #ffffff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.custom-black {
    font-family: 'Permanent Marker', cursive;
    font-size: 30px;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

img {
    display: block;
    max-width: 100%;
    height: 40px;
    border-radius: 20px;
  }
.parkImg {
    width: 100%;
    height: 100%;
}

.parkFormat{
    display: block;
      margin-top: 5px;
      margin-bottom: 5px;
      width: 80%;
      height: 700px;

      margin-left: 10%;
}
  .parks{
      display: block;
      margin-top: 20px;
      padding-top: 7px;
      width: 80%;
      height: 700px;
      overflow-y: scroll;
      background-color: rgba(255,255,255,0.5);
      margin-left: 10%;
  }
  .searchBar{
      display: flex;
      align-items: center;
      justify-content: center;
  }
  .search{
      font-weight: bold;
      margin-top: 12px;
  }